


.video-container {
  position: relative;
  width: 100%;
  height: 25rem; 
  overflow: hidden;
}

#trees-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);

  padding: 4rem 25rem;     
  min-width: 40rem;       

  text-align: center;

  color: white;
  border-radius: 1.25rem;   
  z-index: 1;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0, 0.5) 20%,
    rgb(0, 0, 0) 90%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* carrie pappas counseling header */
.cpcounseling {
  color: white;
  font-size: 4rem; 
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0,0,0,1);
  margin: 0;
  font-family: 'Meriweather', 'Times New Roman', 'serif';
  white-space: nowrap;
}

.video-subtitle {
  color: white;
  font-size: 1.5rem; 
  text-shadow: 0.125rem 0.125rem 0.5rem rgba(0,0,0,0.9);
  font-family: 'Open Sans', 'Arial', sans-serif;
  margin-top: 2.5rem;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* responsive */
@media (max-width: 768px) {

  .video-container {
    height: 18rem;
  }

  .video-text {
    padding: 4rem 1.5rem; 
    min-width: auto;       
    width: 100%;    
    border-radius: 1rem;
    top: 30%;        
  }

  .cpcounseling {
    font-size: 1.5rem;
    white-space: normal;  
  }

  .video-subtitle {
    font-size: 0.9rem;
    margin-top: 1rem;  
  }
}



