html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}


/* Navigation */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.25rem 0.375rem rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0rem;
}

/* nav links */
nav ul li a {
  display: block;
  color: rgb(86, 86, 86);
  padding: 2.5rem 1.875rem;       
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 1;
}

nav ul li a:hover {
  color: black;
  text-decoration: underline rgb(91, 73, 91);
  text-underline-offset: 0.375rem;
}

nav ul li a.currentlyOn {
  text-decoration: underline rgb(91, 73, 91);
  text-underline-offset: 0.375rem;
  color: black;
}

/* contact button */
nav ul li:nth-child(4) a {
  background-color: #685a6b;
  color: white;
  padding: 0.75rem 1.5rem;    
  border-radius: 2rem;       
  margin-right: 1.8rem;    
  margin-left: 1.2rem;      
}

nav ul li:nth-child(4) a:hover {
  background-color: #b29eb7;
  color: black;
  text-decoration: none;
}

/* logo */
#logoNav {
  max-height: 5rem;   
  margin-top: 1rem;  
  margin-left: 2rem; 
}

/* responsive */

@media (max-width: 768px) {

  nav {
    flex-direction: column;

  }

  nav ul {
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0;
  }

  nav ul li a {
    padding: 1rem 0;     
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  nav ul li:nth-child(4) a {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0.75rem 1.25rem;
    width: auto;
  }

  #logoNav {
    margin: 1rem auto;
    max-height: 4rem;
  }
}

/* skip to main */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}


/* Footer*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 1.25rem; 

  background-color: #685a6b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer text */
footer .footerInfo,
footer .address {
  display: flex;
  flex-direction: column;


  margin-left: 3rem;  
  margin-right: 6rem; 
}

/* responsive */
@media (max-width: 600px) {

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem; 
  }

  footer .footerInfo,
  footer .address {

    margin-left: 0;   
    margin-right: 0;
    width: 100%;  
  }

  footer .address {
    margin-top: 1.25rem; 
  }
}


